.yved{
	position:fixed;
	right:20px;
	top:70px;
	width:340px;
	vertical-align:middle;
	height:130px;
	color:#050316;
	padding:17px;
	font-family:Roboto;
	font-size:20px;
	border-radius:10px;
	display:none;
	z-index:3000}
.yvedi{
	float: left;
	width: 30px!important;
	margin-right: 10px;
	margin-top: 0px;
}
.yvedt{
	width:260px;
	line-height:normal;
	display:inline-block;
	vertical-align:middle
}
.yvedf1{
	background-color:#fffc00
}
.yvedvt{
	float:left;
	height:90px;
	line-height:90px;
	display:inline-block;
	vertical-align:middle
}